<body>
  
      <!-- --------------  Main Section ---------------- -->

      <main>

        <!-- -------------- Blog carousel ---------------- -->
        
        <section class="carousel" data-aos="fade-down-right" data-aos-delay="100" data-aos-duration="3000">
            <div class="container">
                <div class="moveable owl-carousel owl-theme">

                    <% for (var blog of rblogs.slice(0,8)) { %>
                        <div class="card" data-aos="fade-right" data-aos-delay="200">
                            <div class="card-image">
                                <img src="<%= blog.img %> " alt="">
                            </div>
                            <h4><%= blog.title %> </h4>
                            <div class="card-author">
                                <span class="auth text-black">Author:</span> <span class="name text-white">Admin</span>
                            </div>
                            <div class="text-area">
                                <%- blog.description %> 
                            </div>
                            <button class="btn"><a href="<%= blog.url %>"> Read more </a></button>    
                        </div>
                    <% } %>

                </div>
            </div>
        </section>

        <!-- --------/----- Blog carousel --------/------- --> 
         
        <!-- -------------- Blog random ---------------- -->
        
        <section class="major" data-aos="flip-right" data-aos-delay="100" data-aos-duration="2000">
            <div class="random">
                <h1>Trending</h1>
                <div id="posts">
                    
                    <% for (var blog of trendiest.slice(0,6)) { %>
                        <div class="post">
                            <div class="post-image">
                                <div>
                                    <img src="<%= blog.img %> " alt="" class="src"> 
                                </div>
                                <div class="post-info button text-white">
                                    <span><i class="fas fa-user">&nbsp;</i><%= blog.author %> </span>&nbsp;
                                    <span><i class="fas fa-calendar-alt">&nbsp;</i><%= blog.dateAddedF %> </span>&nbsp;
                                    <span><i class="fas fa-user">&nbsp;</i><%= blog.section %> </span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="<%= blog.url %> " class="title"><%= blog.title %> </a>
                                <span class="divider title"></span>
                                <span class="title"><%= blog.reads %> <i class="fas fa-eye"></i></span>
                                <span class="divider title"></span>
                                <span class="title"><%= blog.likes.length %> <i class="fas fa-thumbs-up"></i></span>
                                <div class="p">
                                    <%- blog.description %> 
                                </div>
                                <a href="<%= blog.url %>"><button>Continue reading</button></a>
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>

            <aside class="side-groups">
                <div class="categories" data-aos="zoom-up-left" data-aos-delay="1000" data-aos-duration="2000">
                    <h1>Categories</h1>
                    <ul class="category-list">
                        <% for (var count of counts) { %>
                            <li class="llink">
                                <a href="/searchCategory/<%= count.n %> "><%= count.n %> </a><span><%= count.c %> </span>
                            </li>
                        <% } %>
                    </ul>
                </div>

                <!-- ---------- A lil functioality needed for this to work. Learn ----------- -->
                <div class="trending"  data-aos="zoom-out-up" data-aos-delay="100" data-aos-duration="2000">
                    <h1>Random</h1>
                    <div class="set">
                        <% for (var blog of blogs.slice(0,4)) { %>
                            <div class="thumb" style="background-image: url(<%= blog.img %>)">
                                <div class="post-title">
                                    <h4><a href="#" class="title"><%= blog.title %> 
                                        (<%= blog.likes.length %> <i class="fas fa-thumbs-up"></i>) </a>
                                    </h4>
                                    <div class="ptd">
                                        <span>
                                            <%= blog.description %> 
                                        </span>
                                    </div>
                                    <a href="<%= blog.url %> "><button>Continue reading</button></a>
                                </div>
                            </div>
                        <% } %>
                        
                    </div>
                    
                </div>

            </aside>
            
        </section>
         <!-- --------/----- Blog random --------/------- --> 
        
    </main>

    <!-- --------/-----  Main Section --------/------- -->

</body>