<body id="authorp">
     <%- include('./partials/authorsite.ejs') %> 
     <select name="" id="files" style="display: none;">
          <option value="<%= JSON.stringify(total) %>" id="collector"></option>
     </select>
     <div class="all">
          <div class="first">
               <span><i>Create new blog</i></span>
               <a href="/blog/create"><button class="icon"><i class="fas fa-plus-square"></i></button></a>
               <span class="divider"></span>
               <span><i>Edit my page</i></span>
               <a href=""><button class="icon"><i class="fas fa-pen"></i></button></a>
          </div>
          <section>
               <table class="serial">
                    <caption>
                         <h1>My Blogs</h1>
                         <h4>Please rotate device to view table comfortably</h4>
                    </caption>
                    <thead>
                         <th width="5%">S/N</th>
                         <th width="25%">Title</th>
                         <th width="10%"><i class="fas fa-calendar"></i></th>
                         <th width="5%"><i class="fas fa-eye"></i></th>
                         <th width="20%">Section</i></th>
                         <th width="5%">Reads</th>
                         <th width="5%">Likes</th>
                         <th width="5%" style="font-size: small;">Comments</th>
                         <th width="20%">Actions</th>
                    </thead>
                    <tbody>
                         <% for (var blog of total.blogs.slice(0,).reverse()) { %>
                               <tr>
                                   <td ></td>
                                   <td ><a href="<%= blog.url %>"><%= blog.title %></a> </td>
                                   <td ><%= blog.dateAddedF %> </td>
                                   <td ><%= blog.visible %> </td>
                                   <td ><%= blog.section %> </td>
                                   <td ><%= blog.reads %> </td>
                                   <td ><%= blog.likes.length %> </td>
                                   <td ><%= blog.comments.length %> </td>
                                   <td colspan="1">
                                        <center>
                                             <a href="<%= blog.url %>/update"><button class="icon"><i class="fas fa-pen"></i></button></a>
                                             <button class="icon" onclick="deleter('<%= blog.slug %>')"><i class="fas fa-trash"></i></button>
                                        </center>
                                   </td>
                              </tr>
                         <% } %>
                    </tbody>
               </table>
          </section>
     </div>

     <script>
     </script>
     <script src="/javascripts/panel.js"></script>
</body>