<head>
  <title><%= blog.title %></title>
</head>
  <main id="ablog" class="">

  <div id="blog">
    <div class="blog-pic">
      <img src="<%= blog.img %> " alt="Joker">
    </div>
    <div class="topic">
      <h1><%= blog.title %></h1>
    </div>

    <div class="stopic">
      <h3><%= blog.section %> </h3>
      <h3><%= blog.dateAddedF %> </h3>
    </div>

    

    <p><%- blog.story %></p>

    <p><%= blog.author %> </p>

  </div>

  <div class="like">
    <h1 id="like"><%= blog.likes.length %> </h1>
    <button onclick="liker()" id="liker"><i class="fas fa-thumbs-up"></i></button>
  </div>

  <section id="commentSection">
    <hr>
    <div class="boxtopic">
      Comments (<%= blog.comments.length %>)
      <hr class="underhr">
    </div>
    <section class="commentBoxS">
      <form action="<%= blog.url %>/comment" id="commentBox" method="POST">
        <textarea name="commentText" id="commentText" cols="20" rows="10" required>

        </textarea>
        <input type="submit" value="Submit" id="commentSubmit">
      </form>
    </section>
    <section class="comments" id="comments">
      <% if (blog.comments.length != 0) { %>
        <% for (var comment of blog.comments.slice(0, blog.comments.length).reverse()) { %>
          <div class="comment">
            <hr class="cut">
            <div class="commentUser">
              <div class="commenterPic">
                <img src="/images/user.svg" alt="">
              </div>
              <div class="commenterName">
                <%= comment.name %> 
              </div>
            </div>
            <div class="time font-dim"><%= comment.date %></div>
            <div class="message">
              <%= comment.body %> 
            </div>
          </div>
        <% } %>
      <% }else{ %>
        Sorry, no comments yet
      <% } %>
      
    </section>
    <center>
      <span id="showAllC"><i>Show all comments</i><button style="padding: 5px;height: fit-content;width: fit-content;" onclick="showAllComments()"><i class="fas fa-arrow-right"></i></button></span>
    </center>  
  </section>

  </main>

  <!-- Comment JS -->
  <script src="/javascripts/comment.js"></script>